/************************
 * Fun Theme CSS
 ************************/

/*
Notes on getting started:
- Plan to build this site from a MOBILE FIRST perspective. We will build the mobile layout first, and then adjust our layout for progressively larger screen sizes.
*/